@{
    ViewBag.Title = "Bluecoat Adminis";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}





<h2>AdminPage</h2>
<div style="max-width: 1200px; margin: 0 auto 10px;" class="well">
    <div style="max-width: 750px; margin: 0 auto 10px;" class="well">
        <p class="bg-info">Please select one of the options below: </p>
        <a href="@Url.Action("UserList", "Admin")" type="button" class="btn btn-primary btn-lg btn-block">User Management</a>
        <a href="" type="button" class="btn btn-default btn-block">Order Administration</a>
        <a href="" type="button" class="btn btn-primary btn-lg btn-block">Order Administration</a>

    </div>
</div>
