
@{
    ViewBag.Title = "Order Confirmation";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="jumbotron">
  <h2>Thank you for your order!</h2>
    <p>Your will recieve a confiramtion email shortly</p>
    <p>The total amount will be added to your next month billing</p>
  <p><a class="btn btn-primary btn-lg" role="button">Back to shop</a></p>
</div>



